# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and serialized files
data/employees.json

# IDE or editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test and debugging artifacts
tests/__pycache__/
tests/*.pyc
tests/*.pyo

# Other temporary files
*.log
*.tmp
